In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('shop data.csv')
df

      age  income  gender m_status buys
0     <25    high    male   single   no
1     <25    high    male  married   no
2   25-35    high    male   single  yes
3     >35  medium    male   single  yes
4     >35     low  female   single  yes
5     >35     low  female   single   no
6   25-35     low  female  married  yes
7     <25  medium    male  married   no
8     <25     low  female   single  yes
9     >35  medium  female  married  yes
10    <25  medium  female   single  yes
11  25-35  medium    male  married  yes
12  25-35    high  female   single  yes
13    >35  medium    male  married   no
14    <25    high    male   single   no

In [3]:
df['income'].unique()

array(['high', 'medium', 'low'], dtype=object)

In [4]:
income_order = ['low', 'medium', 'high']

In [5]:
from sklearn.preprocessing import OrdinalEncoder

In [6]:
enco = OrdinalEncoder(categories = [income_order])

In [8]:
enco.fit(df[['income']])

OrdinalEncoder(categories=[['low', 'medium', 'high']])

In [10]:
final = pd.DataFrame(enco.transform(df[['income']]))

In [11]:
df['income'] = final
df

      age  income  gender m_status buys
0     <25     2.0    male   single   no
1     <25     2.0    male  married   no
2   25-35     2.0    male   single  yes
3     >35     1.0    male   single  yes
4     >35     0.0  female   single  yes
5     >35     0.0  female   single   no
6   25-35     0.0  female  married  yes
7     <25     1.0    male  married   no
8     <25     0.0  female   single  yes
9     >35     1.0  female  married  yes
10    <25     1.0  female   single  yes
11  25-35     1.0    male  married  yes
12  25-35     2.0  female   single  yes
13    >35     1.0    male  married   no
14    <25     2.0    male   single   no

In [12]:
from sklearn.preprocessing import LabelEncoder

In [13]:
le = LabelEncoder()

In [14]:
df['age'] = le.fit_transform(df['age'])

In [18]:
df['gender'] = le.fit_transform(df['gender'])

In [19]:
df['m_status'] = le.fit_transform(df['m_status'])

In [43]:
df['buys'] = le.fit_transform(df['buys'])

In [44]:
df

    age  income  gender  m_status  buys
0     1     2.0       1         1     0
1     1     2.0       1         0     0
2     0     2.0       1         1     1
3     2     1.0       1         1     1
4     2     0.0       0         1     1
5     2     0.0       0         1     0
6     0     0.0       0         0     1
7     1     1.0       1         0     0
8     1     0.0       0         1     1
9     2     1.0       0         0     1
10    1     1.0       0         1     1
11    0     1.0       1         0     1
12    0     2.0       0         1     1
13    2     1.0       1         0     0
14    1     2.0       1         1     0

In [45]:
#from sklearn import linear_model

In [46]:
#reg = linear_model.LinearRegression()

In [47]:
from sklearn.model_selection import train_test_split

In [48]:
x = df[['age', 'income', 'gender', 'm_status']]
y = df['buys']

In [49]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=.30, random_state=1)

In [50]:
xtest

    age  income  gender  m_status
3     2     1.0       1         1
7     1     1.0       1         0
6     0     0.0       0         0
2     0     2.0       1         1
10    1     1.0       0         1

In [51]:
ytest

3     1
7     0
6     1
2     1
10    1
Name: buys, dtype: int32

In [52]:
from sklearn.linear_model import LinearRegression

In [53]:
bal = LinearRegression()

In [55]:
kosu = bal.fit(xtrain,ytrain)

In [62]:
kosu.predict(xtest)

array([-0.35714286,  0.46428571,  1.82142857,  0.32142857,  0.82142857])

In [69]:
kosu.predict([[0,2.0,1,1]])

D:\anaconda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([0.32142857])